.btn-menu{
  padding:1;
  background:none;
  border:none;
  cursor:pointer;
  position:relative;
  top:-10em;
  z-index: 1;
}
.menu{
  width:60px;
  height:60px;
}
.back
{
	 min-height:2.5em;
	 min-width:10em;
	}
.box {
  outline-style: groove;
  outline-color:black;
  outline-width: 2.5px;
}
.poze-fata{
 max-height:450px;
  max-width:650px;
}
.poza {
  height:450px;
  width:800px;
  align-items:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-right: 130px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.body1::-webkit-scrollbar {
  width: 10px;
}

.body1::-webkit-scrollbar-track {
  background: rgb(253, 215, 168);
}
.bodymain::-webkit-scrollbar {
  width: 10px;
}

.bodymain::-webkit-scrollbar-track {
  background: rgb(253, 215, 168);
}

.bodymain::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 1px solid green;
}
.special{
  cursor:default;
  color:Black;
  text-decoration: none;
}
.link_obiect{
  color:Black;
  text-decoration: none;
}
.scris_titlu{
    font-size:4em;
    font-family:Arial;
    font-weight:bold;
    text-align:center;
}
.scris_titlu2{
  font-size:2.5em;
  font-family:Arial;
  font-weight:bold;
  text-align:center;
}.scris_normal{
  font-size:1.5em;
  font-family:Arial;
  font-weight:bold;
  margin-left:1.5em;
  /*text-align:center;*/
}
.scris_mictitlu{
  font-size:2em;
  font-family:Arial;
  font-weight:bold;
  margin-left:1em;
}
.bodymain{
  background-color:rgb(253, 215, 168);
           }
.body1{
    background-color:rgb(253, 215, 168);
    min-height:100vh;
    text-align:center;
    justify-content:center;
    align-items:center;

}
.body2{
  margin-top:-57px;
    background-color:rgb(253, 215, 168);
    min-height:100vh;
}
.a1:link{
color:blue(0, 255, 255, 0.746);
}
.a1:visited{
    color:blue(0, 255, 255, 0.746);
}
.a1:hover{
    color:greenyellow;
}
.a1:active{
    color:#ffc0cb;
}

.buttons{
  border-radius: 100000em;
  border:solid;
    background-color:green;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 200px;
    margin: 25px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 1px 10px;}
.buttons:after{content: '>>';
                position: relative;
                opacity: -1;
                top:0px;
                right: -30px;
                transition: 0.5s;}
.buttons:hover{padding-right: 70px;
            padding-left: 30px;}
.buttons:hover:after{opacity: 1;
                    right: 1px;}
.buttons:active{box-shadow: 0 5px #666;
            transform: translateY(4px);}

.btn {
  border-radius: 0em;
                border: none;
                font-family: 'Lato';
                font-size: inherit;
                color: inherit;
               
                cursor: pointer;
                padding: 25px 80px;
                display: inline-block;
                margin: 15px 30px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                outline: none;
                position: relative;
                
              }
.btn:before {
                font-family: 'FontAwesome';
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                position: relative;
                -webkit-font-smoothing: antialiased;
              }
.btn-sep {
                padding: 25px 60pxPX 120px;
              }
.btn-sep:before {
                background: rgba(0,0,0,0.15);
              }
.btn-2 {
                background: #2ecc71;
                color: #fff;
              }
.btn-2:hover {
                background: #27ae60;
              }
.btn-2:active {
                background: #27ae60;
                top: 2px;
              }
.btn-2:before {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                line-height: 3;
                font-size: 140%;
                width: 60px;
              }
.icon-cart:before {
                content: "\f07a";
              }
.meniu{
  position: relative;
  top: -125px;
  text-align: center;
}
.btn-meniu{
  border-radius: 20px;
  margin-right: 50px;
  font-size: 30px;
  background-color: rgb(227, 251, 13);
  padding-left: 20px;padding-right: 20px;
  cursor: pointer;
}
.frame{
  height:560px;
  position: relative;
  top:-120px;
  width: 100%;
}
.back{
  background-color: #27ae60;
  border:2px;
  border-radius:40px
}